# LaTeX files
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.lol
*.lof
*.lot
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.fdb_latexmk
*.fls
*.pdfsync
*.bak
*.dvi
*.idx
*.ilg
*.nav
*.snm
*.pdf
*.ind
*.inx
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
*.xdv
